<script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>
<!-- <script src="/static/plugins/sweetalert2/sweetalert2.all.min.js"></script> -->
<script type="text/javascript" src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/plugins/pdfmake/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/plugins/datatable/datatables.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->

<script src="/static/common/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/static/plugins/toastr/toastr.min.js"></script>
<script src="/static/common/theme_change.js"></script>
<script src="/static/common/howler.min.js"></script>