<!DOCTYPE html>
<html data-theme="apptheme">

<head>
    {% include '_meta.html' %}
</head>

<body class="container mx-auto h-screen  bg-green-700 ">
    <div class="w-full h-full p-4">
        <div class="alert alert-info hidden">
            <p>Caller (เครื่องเรียกรับบริการ) <button onclick="setting_counter_service()" class="btn btn-xs btn-circle text-error"><i class="fa-solid fa-gear"></i></button></p>
            <i class="p-2 fa-solid fa-volume-high fa-2xl"> ช่องบริการ {{caller_id}}</i>
        </div>

        <div class="w-full mt-2 card glass">
            <div class="card-body">
                <div class="flex flex-wrap justify-center gap-4">
                    <div class="w-full">
                        <input class="input input-succecc rounded-lg w-full text-7xl h-full text-center" value="" placeholder="1กค1234" id="number_input_number">
                    </div>
                    <p>เพิ่มทะเบียนเข้าช่องรับบริการ</p>
                    <div class="w-full">
                        <button onclick="add_service_transaction()" class="w-full btn btn-success btn-lg h-full rounded-3xl text-7xl p-8 text-white">รับบริการ</button>
                    </div>
                </div>
                <div class="flex flex-wrap justify-center gap-4 border-4 border-primary rounded-lg p-4">
                    <div class="w-full">
                        <input class="input input-succecc rounded-lg w-full text-7xl h-full text-center" value="001" placeholder="1กค1234" id="number_input_number_call">
                    </div>
                    <p>เรียกแสดงรถที่เข้ารับผู้โดยสาร</p>
                    <div class="w-full">
                        <button onclick="call_service_transaction()" class="w-full btn btn-warning btn-lg h-full rounded-2xl text-7xl p-8 text-white">เรียกรับบริการ</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="w-full mt-2 bg-success bg-opacity-80 card">
            <div class="text-orange-900 card-body">
                <!-- <div>
                    <div class="badge badge-accent badge-lg">เวลาออกรายการ </div>
                    <span class="text-lg font-extrabold" id="TRANSACTION_CREATE_DATE_LABEL">-</span>
                </div>
                <div id="TRANSACTION_SLIP_NUMBER_LABEL" class="p-2 font-black text-center border-4 rounded-lg text-7xl border-success text-warning">----</div>
                <button id="TRANSACTION_CANCEL_BTN" onclick="TRANSACTION_OBJ.set_cancle()" type="button" disabled class=" btn btn-error btn-lg">ยกเลิกรายการ</button>
                <button id="TRANSACTION_RECALL_BTN" onclick="TRANSACTION_OBJ.re_call()" type="button" disabled class=" btn btn-warning btn-lg">เรียกรับบริการอีกครั้ง</button>
                <button id="TRANSACTION_SUCCESS_BTN" onclick="TRANSACTION_OBJ.success()" type="button" disabled class="text-lg btn btn-success btn-lg">รับบริการสำเร็จ</button> -->
                <button type="button" class="text-lg btn btn-warning btn-outline" onclick="dialog_set_date_time_server.showModal()">ตั้งเวลา Server</button>
                <button type="button" class="text-lg btn btn-error btn-outline" onclick="dialog_clear_transaction.showModal()">Clear Q All</button>
            </div>
        </div>
        <div class="flex flex-row justify-center">
            <div class="avatar p-8">
                <img class="rounded-lg" src="/static/image/grab_logo.jpg" />
            </div>
        </div>


    </div>
    <footer class="fixed inset-x-0 bottom-0 items-center p-4 rounded-lg footer">
        <div class="flex justify-between w-full">
            <div class="flex">
                <p>Copyright © 2021 - All right reserved</p>
            </div>
            <div class="">
                <a>
                    <i class="fa-solid fa-arrows-rotate"></i>
                </a>
            </div>
        </div>

    </footer>
    {% include '_dialog.html' %}


    <dialog id="dialog_set_date_time_server" class="modal">
        <div class="modal-box">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold">Set DateTime Server!</h3>
            <div class=" font-bold">date time "yyyy-mm-dd HH:MM:SS"</div>
            <input type="text" placeholder="2020-12-12 08:00:00" data-field="datetime" value="2024-12-12 12:00:00" class="input input-bordered w-full max-w-xs" />
            <div class="modal-action">
                <button class="btn btn-warning" onclick="set_date_time_server();">ตั้งเวลา</button>
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>

        </div>
    </dialog>

    <dialog id="dialog_clear_transaction" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">ยืนยันทำรายการเคลียร์คิวทั้งหมด</h3>
            <div class="modal-action">
                <button class="btn btn-warning" onclick="clear_transaction();">Clear Q all</button>
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                </form>
            </div>

        </div>
    </dialog>
</body>
{% include '_script.html' %}
<script type="module" src="/static/js/call_key.js?t={{now}}"></script>

</html>