<!DOCTYPE html>
<html data-theme="apptheme">

<head>
    {% include '_meta.html' %}
</head>

<body class="flex flex-col">

    <div class="drawer lg:drawer-open ">
        <input id="side-drawer" type="checkbox" class="drawer-toggle" />
        <div class="relative flex flex-col px-2 drawer-content">
            {% include '_nav_bar.html' %}
            <!-- Page content here -->
            <div class="text-gray-500 ">
                <div class="w-full h-48 p-8 mb-2 border carousel rounded-box border-info">
                    <div class="carousel-item">
                        <img src="/static/image/system.png" />
                    </div>
                    <div class="carousel-item">
                        <img src="/static/image/logo.png" />
                    </div>

                    <div class="carousel-item">
                        <img src="/static/image/error404.png" />
                    </div>
                </div>
                <div class="p-4 text-lg border mockup-window bg-base-300">
                    <p>
                        ระบบเรียกบริการคือระบบที่ใช้ในการจัดการและควบคุมการเรียกให้บริการหรือการรอคอยของลูกค้าหรือผู้ใช้บริการในสถานที่ต่าง ๆ เช่น โรงพยาบาล ห้างสรรพสินค้า
                        ร้านอาหาร เป็นต้น เป้าหมายหลักของระบบเรียกบริการคือการลดระยะเวลารอคอยและเพิ่มประสิทธิภาพในการให้บริการแก่ลูกค้าหรือผู้ใช้งานโดยทั่วไป

                        ระบบเรียกบริการสามารถมีลักษณะหลากหลายได้ตามความต้องการขององค์กรหรือสถานที่ใช้บริการ บางระบบอาจใช้หมายเลขประจำตัว (เช่น หมายเลขคิว)
                        เพื่อแสดงลำดับคิวของผู้รอในแถว และบางระบบอาจมีการใช้เทคโนโลยีเพื่อแจ้งเตือนผู้รอเมื่อถึงคิวของตน เช่น
                        การใช้ระบบเสียงเรียกหรือการส่งข้อความแจ้งเตือนผ่านแอปพลิเคชันบนโทรศัพท์มือถือ

                        ระบบเรียกบริการส่วนใหญ่มีประโยชน์ต่อทั้งลูกค้าและผู้ให้บริการ โดยลูกค้าจะได้รับการบริการที่รวดเร็วและมีความเป็นระเบียบ
                        ส่วนผู้ให้บริการสามารถจัดการลำดับคิวและทรัพยากรที่มีอยู่ให้เกิดประสิทธิภาพในการทำงาน

                        ระบบเรียกบริการยังสามารถปรับใช้ในสถานการณ์ต่าง ๆ ได้ เช่น ในช่วงเวลารายการลดราคาหรือส่งเสริมการขาย การจัดกิจกรรมพิเศษ เป็นต้น
                        เพื่อให้บริการที่มีความพึงพอใจแก่ลูกค้าอย่างต่อเนื่องและเพิ่มประสิทธิภาพในการจัดการลำดับคิวและการบริการโดยรวม
                    </p>
                    <p class="p-4">
                        ระบบเรียกบริการ Q (Queue Management System) คือระบบที่ใช้ในการจัดการและควบคุมคิวของลูกค้าหรือผู้รับบริการในสถานที่ต่าง ๆ เช่น โรงพยาบาล, ธนาคาร,
                        สถานที่บริการราชการ, ห้างสรรพสินค้า, หรือสถานที่อื่น ๆ ที่มีคนต้องรอให้ได้รับบริการตามลำดับคิว ระบบ Q
                        ช่วยในการจัดการคิวให้มีประสิทธิภาพและลดเวลารอรับบริการของลูกค้า โดยระบบนี้มักมีคุณสมบัติและฟังก์ชันพื้นฐานต่อไปนี้:
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">สร้างคิว:</span> ระบบ Q ช่วยลูกค้าสร้างคิวเพื่อรับบริการ โดยการเลือกบริการที่ต้องการและระบุข้อมูลพื้นฐาน เช่น ชื่อ,
                        หมายเลขโทรศัพท์ เป็นต้น
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">แสดงข้อมูลคิว:</span>
                        ระบบ Q จะแสดงข้อมูลเกี่ยวกับคิวที่อยู่ระหว่างรอ ในรูปแบบของหมายเลขคิว หรือรายชื่อลูกค้าที่กำลังรอ
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">ควบคุมการเรียกบริการ:</span>
                        เจ้าหน้าที่หรือพนักงานสามารถใช้ระบบ Q เพื่อเรียกลูกค้าหรือผู้รับบริการเพื่อให้ได้บริการตามลำดับคิว
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">การแจ้งเตือน:</span>
                        ระบบ Q สามารถส่งข้อมูลแจ้งเตือนผ่าน SMS, อีเมล, หรือแอพพลิเคชันโทรศัพท์มือถือเพื่อแจ้งให้ลูกค้าทราบเมื่อถึงคิวของพวกเขา
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">สถิติและรายงาน:</span>
                        ระบบ Q สามารถเก็บข้อมูลเกี่ยวกับระยะเวลารอ, ประสิทธิภาพในการบริหารคิว และข้อมูลอื่น ๆ เพื่อให้เจ้าหน้าที่สามารถวิเคราะห์และปรับปรุงการบริหารคิวในอนาคต
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">การจัดคิวสมาร์ท:</span>
                        บางระบบ Q สามารถใช้ข้อมูลเฉพาะเช่นเวลาที่คาดว่าบริการจะเสร็จสิ้น เพื่อจัดคิวให้มีประสิทธิภาพมากขึ้น
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">การจัดที่นั่ง:</span>
                        ในบางกรณีที่บริการมีที่นั่งจำกัด เช่น โรงพยาบาล ระบบ Q อาจช่วยจัดที่นั่งให้ลูกค้าตามคิว
                    </p>
                    <p class="p-4">
                        <span class="badge badge-neutral">การบริหารคิวออนไลน์:</span>
                        บางระบบ Q อนุญาตให้ลูกค้าสร้างคิวและติดตามคิวออนไลน์ผ่านเว็บไซต์หรือแอพพลิเคชันมือถือ
                    </p>


                    <p>ระบบเรียกบริการ Q มีประโยชน์ในการปรับปรุงประสิทธิภาพในการบริหารคิวและลดเวลารอสำหรับลูกค้า
                        นอกจากนี้ยังช่วยในการรวบรวมข้อมูลสถิติที่สามารถใช้ในการวิเคราะห์และการตัดสินใจในการปรับปรุงบริการในอนาคตด้วยความรวดเร็วและมีข้อมูลเป็นพื้นฐานในการตัดสินใจ.
                    </p>

                </div>
            </div>

        </div>

        {% include '_side_menu_bar.html' %}
    </div>

    {% include '_footer.html' %}
</body>
{% include '_script.html' %}
<script type="module" src="/static/js/home.js?t={{now}}"></script>

</html>