<!DOCTYPE html>
<html data-theme="emerald">

<head>
    {% include '_meta.html' %}
    <style>
        /* กำหนดแอนิเมชันสำหรับกระพริบสลับสี */
        @keyframes blink-color {
            0% {
                color: green;
            }

            /* เริ่มต้นด้วยสีแดง */
            50% {
                color: red;
            }

            /* สลับเป็นสีน้ำเงิน */
            100% {
                color: green;
            }

            /* กลับมาสีแดง */
        }

        /* ใช้แอนิเมชันกับตัวหนังสือ */
        .blinking-text {
            animation: blink-color 1s infinite;
            /* กระพริบทุก 1 วินาที */
        }
    </style>
</head>

<body class="flex flex-col bg-green-700 min-h-screen">
    <div class="grid grid-cols-2 ">
        <!-- Left Panel -->
        <div class="flex flex-col gap-2 rounded-md h-full">
            <!-- <div class="bg-green-600 text-white text-6xl p-4 text-center  font-bold hidden" >-</div> -->
            <div class="bg-green-600 text-white text-6xl p-2 text-center  font-bold h-20">Come in</div>
            <div class="flex flex-col justify-center h-60 border-b-2">
                <div class=" mx-auto font-bold rounded-md bg-white p-2 ring-4 w-96 text-center h-36 items-center" style="font-size: 72px;">
                    <div class="text-ellipsis overflow-clip blinking-text" id="current_call">Come in</div>
                </div>
            </div>

            <div class="w-full h-80 px-8">
                <div class=" text-white text-2xl p-1  font-bold ">Ready to serve</div>
                <div class="px-8 overflow-scroll" style="height: 90%;">
                    <table id="table_service_process" class=" w-full">
                        <tbody id="tbody_service_process" class=" font-extrabold text-center text-2xl text-white">
                            {% for on_process in monitor_services_process %}
                            <tr class="">
                                <td class="text-left">
                                    {{on_process[0]}}
                                </td>
                                <td class="">
                                    has arrived
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <template id="template_content_service_process">
                            <tr class="">
                                <td name="col01" class="text-left">
                                    001
                                </td>
                                <td name="col02" class="">
                                    002
                                </td>
                            </tr>
                        </template>
                    </table>
                </div>

            </div>

        </div>
        <!-- Right Panel -->
        <div class="h-full border-l-2 ">
            <div class="bg-green-600 text-white text-6xl p-2 text-center font-bold h-20">Stand by</div>

            <div class="p-8 overflow-scroll" style="height: 90%;">
                <!-- <table id="table_service" class="table text-xl table-zebra bg-green-400"> -->
                <table id="table_service" class=" w-full p-2 ">
                    <tbody id="tbody_service" class=" font-extrabold text-center text-3xl text-white">
                        {% for on_call in monitor_services %}
                        <tr class="">
                            <td class="text-left w-60">
                                {{on_call[0]}}
                            </td>
                            <td class="text-left">
                                in the parking lot
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <template id="template_content_service">
                        <tr class="">
                            <td name="col01" class="text-left w-60">
                                001
                            </td>
                            <td name="col02" class="text-left">
                                002
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed  bottom-0 items-center text-center w-full">
        <img class="h-24 rounded-full mx-auto ring-2 ring-white mb-1" src="/static/image/grab_logo.jpg" />
    </div>
    <footer class="fixed inset-x-0 bottom-0 inline-flex justify-around">
        <p class="px-2 text-xs text-left w-full">Copyright © PKSOFTTECH.ORG 2021 - All right reserved</p>
        <p class="px-2 text-xs text-right w-full " id="clock_display">date time</p>
    </footer>

</body>
{% include '_script.html' %}
<script>
    const SOUNDS_PATH = "{{sounds_path}}";
</script>
<script type="module" src="/static/js/monitor_kiosk_info.js?t={{now}}"></script>

</html>